# ---------------------------------------
# Arquivos de ambiente
# ---------------------------------------
.env
*.env

# ---------------------------------------
# Virtual environment
# ---------------------------------------
venv/
venv*/
ENV/
env/
.venv/

# ---------------------------------------
# Cache do Python
# ---------------------------------------
__pycache__/
*.py[cod]
*$py.class

# ---------------------------------------
# Build e artefatos
# ---------------------------------------
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# ---------------------------------------
# Logs
# ---------------------------------------
*.log
logs/

# ---------------------------------------
# IDEs e editores
# ---------------------------------------
.vscode/
.idea/
*.swp
*.swo

# ---------------------------------------
# Arquivos temporários
# ---------------------------------------
*.tmp
*.temp
*.bak
*.orig

# ---------------------------------------
# Banco de dados local (opcional)
# ---------------------------------------
*.sqlite
*.db

# ---------------------------------------
# Docker (se você usar depois)
# ---------------------------------------
docker-compose.override.yml

# ---------------------------------------
# Sistema operacional
# ---------------------------------------
.DS_Store
Thumbs.db
